/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PacBio HiFi 16S rRNA Nextflow base config file 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    process_qc       = 'low'      // Kiểm tra chất lượng
    process_filter   = 'low'      // Lọc dữ liệu Q20
    process_denoise  = 'medium'   // Loại bỏ nhiễu & tạo ASVs
    process_min_freq = 'medium'   // Lọc ASVs theo tần suất tối thiểu
    process_chimera  = 'medium'   // Lọc ASVs nhiễm chéo
    process_taxonomy = 'high'     // Phân loại Taxonomy
    process_phylo    = 'high'     // Cây phát sinh loài
    process_report   = 'single'   // Báo cáo & visualization
}

process {
    // Mặc định chung cho tất cả process
    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Gán tài nguyên dựa trên `params`
    withName:FASTQC, withName:MULTIQC {
        label params.process_qc
    }

    withName:SEQKIT_FILTER {
        label params.process_filter
    }

    withName:QIIME2_DADA2 {
        label params.process_denoise
    }

    withName:QIIME2_MIN_FREQ {
        label params.process_min_freq
    }

    withName:QIIME2_FILTER_CHIMERIC {
        label params.process_chimera
    }

    withName:QIIME2_TAXONOMY_SILVA {
        label params.process_taxonomy
    }

    withName:QIIME2_PHYLOGENY_DIVERSITY {
        label params.process_phylo
    }

    withName:QIIME2_VIEW, withName:R_SCRIPT_REPORT {
        label params.process_report
    }
}

// Định nghĩa tài nguyên cho từng nhãn
process {
    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 20    * task.attempt }
        memory = { 120.GB* task.attempt }
        time   = { 36.h  * task.attempt }
    }
}
