params {
    fastq_files = 'data/*.fastq'
    silva_classifier = 'silva-138-99-classifier.qza'
    outdir = "results"
}

process {
    executor = 'local'
    cpus = 4
    memory = '6 GB'
}

docker {
    enabled = true
    runOptions = '-v $PWD/data:/data'
}

profiles {
    standard {
        params.enable_container = false
        docker.enabled = false
    }

    docker {
        params.enable_container = true
        process {
            container = 'quay.io/biocontainers/fastqc:0.11.9--0'
        }
        docker {
            enabled = true
            runOptions = "-v $PWD/data:/data -v $PWD/work:/work"
        }
    }
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.html"
    overwrite = true
}
