// === Nextflow Configuration File ===

process {
    // Thiết lập mặc định cho tất cả các process
    executor = 'local'
    cpus = 2
    memory = '4 GB'
    time = '2h'

    // Tùy chỉnh tài nguyên cho từng process
    withName:readsQC {
        cpus = 2
        memory = '3 GB'
        time = '30m'
    }

    withName:filterReads {
        cpus = 4
        memory = '4 GB'
        time = '1h'
    }

    withName:readsQCFiltered {
        cpus = 2
        memory = '3 GB'
        time = '30m'
    }

    withName:importToQiime {
        cpus = 2
        memory = '6 GB'
        time = '1h'
    }

    withName:denoiseCCS {
        cpus = 6
        memory = '12 GB'
        time = '4h'
    }

    withName:filterASVs {
        cpus = 2
        memory = '3 GB'
        time = '1h'
    }

    withName:removeChimeras {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withName:assignTaxonomy {
        cpus = 4
        memory = '6 GB'
        time = '2h'
    }

    withName:generateBarplot {
        cpus = 2
        memory = '2 GB'
        time = '30m'
    }

    withName:buildPhyloTree {
        cpus = 4
        memory = '8 GB'
        time = '3h'
    }
}

params {
    fastq_files = './data/*.fastq.gz'
}
