params {
    fastq_files = 'data/*.fastq'
    outdir = "results"
    enable_conda = false
    enable_container = false
}

process {
    executor = 'local'
    cpus = 4
    memory = '8 GB'
}

docker.enabled = true  // Kích hoạt Docker mặc định

profiles {
    standard {
        params.enable_conda = true
        docker.enabled = false
        singularity.enabled = false
    }

    conda {
        params.enable_conda = true
        docker.enabled = false
        singularity.enabled = false
    }

    singularity {
        singularity.enabled = true
        params.enable_container = true
    }

    docker {
        process {
            executor = 'local'
            container = 'biocontainers/seqkit:v2.4.0_cv1'
        }
        docker {
            enabled = true
        }
        params.enable_container = true
    }
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.html"
    overwrite = true
}
